@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy';
  src: url(./assets/Gilroy-Regular.woff);
}

body{
  height: 100%;
  width: 100%;
  font-family: 'Gilroy';
  font-weight: 700;
}

#nav:hover{
  cursor: pointer;
}

#btn:hover{
  background: rgb(65, 65, 65);
  transition: 0.7s;
  color: #fff;
}

#btn{
  border: 1px solid black;
}

#loginbtn{
  border: 1px solid black;

}

#loginbtn:hover{
  background: rgb(65, 65, 65);
  transition: 0.7s;
  color: #fff;
}


#taskList::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 5px;
  line-height: 10px;
}


#taskList::-webkit-scrollbar-track {
  width: 1px; /* Width of the scrollbar */
  scroll-behavior: smooth;
}

#taskList::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

#taskList::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
